@page
@model IndexModel
@{
    ViewData["Title"] = "首页";
}

<h1 class="text-info">登录</h1>
<h2 class="text-info">输入用户名密码登录.</h2>

<form>
    <label for="UserName">用户名：</label><input name="UserName" asp-for="UserName" /><br />
    <label for="Password">密码：</label><input name="Password" asp-for="Password" /><br />
    <button type="submit">登录</button>
</form>
